

<% if !@posts.nil? %>
    <div class="container">
        <% @posts.each do |post| %>
            <div class="row">
                <div class="col">
                    <div class="card mb-3">
                        <div class="card-body">
                            <%= format_message_to_html(post.message) %>
                            <p class="card-text"><small class="text-muted"><%= post.created_time.strftime("%d %B %Y at %H:%M") %></small></p>
                        </div>
                        <% if post.picture != "" %>
                            <div class="painter-image-container">
                                <img class="card-img-top painter-image" preserveAspectRatio="xMidYMid slice" src=<%= post.picture %> alt="..." />
                            </div>
                        <% end %>
                        <div class="card-footer text-muted justify-content-between d-flex">
                            <p style="height: 10px;"><%= pluralize("reaction", post.reactions) %> |
                            <%= pluralize("comment", post.comments) %></p>
                            <a href=<%= post.link %> class="card-link">Vis på facebook</a>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
<% end %>
